@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.wrapperhead{
    display: flex;
    width: 100%;
    background: #747474;
    min-height: 64px;
    color: white;
}

.wrapperbody{
    display: flex;
    width: 100%;
}
.wrapperbody .leftitem{
    display: flex;
    min-width: 150px;
    width: 20%;
    max-width: 200px;
    background: #a0aec0;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
